<center><h1> ARMAGEDDON </h1></center>
<center><h2> <%=@game.current_turn.name%> turn</h2></center><br><br>
<center><h1> <%=@game.player_1.name%> <%=@game.player_1.health%> HP</h1></center>
<center><h1>VS</h1></center>
<center><h1> <%=@game.player_2.name%> <%=@game.player_2.health%> HP</h1></center>
<center><form action="/destroy"><input type="submit" value="Destroy!"></form></center>
<br><br>
<center><h3><a href="/">Restart the game</a></center></h3>
